@page "/component"

<h3>Komponenty</h3>

<Card Image="/files/kowalski.png"
      Title="Jan Kowalski"
      Content="Programista C# z 2 letnim doświadczeniem. Specjalizacje:Blazor i ASP.NET Core"
      BtnText="Więcej">
</Card>
